@use "global" as *;
.top-privacy {
  margin-top: 3rem;
  @include mq("md") {
<<<<<<< HEAD
    margin-top: 9rem;
=======
    margin-top: 10rem;
>>>>>>> b0fa8c02 (Migrate from static site to WordPress)
  }
}
