@use "global" as *;
.blog-single__inner {
  position: relative;
}
.blog-single__inner::before {
  background: url(../images/common/page-campaign.pc.svg) no-repeat center / contain;
  position: absolute;
  content: "";
  top: 0.2%;
  left: calc(50% - min(47vw, 29.1rem));
  text-align: left;
  transform: translateY(-50%);
  height: 3.4375rem;
  width: 7.5rem;

  @include mq("md") {
    top: 0%;
    left: calc(50% - min(48vw, 39.1rem));
    height: 8.625rem;
    width: 18.125rem;
  }
}
.blog-single__outer {
  @include mq("md") {
    display: flex;
  }
}
.blog-single__visual-wrap {
  position: absolute;
  content: "";
  top: 2%;
  left: calc(50% - min(47%, 29.1rem));
  text-align: left;
  transform: translateY(-50%);

  @include mq("md") {
    top: 7%;
    left: calc(50% - min(48%, 39.1rem));
  }
}

.blog-single__wrap {
  @include mq("md") {
    display: contents;
  }
}
.blog-single__body {
  @include mq("md") {
    width: 70%;
  }
}
.blog-single__date {
  font-size: 0.875rem;
  font-weight: $regular;
  font-family: $four-font-family;
  color: $black;
  line-height: 1.28;
}

.blog-single__title {
  margin-top: 0.6rem;
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: $base-font-family;
  color: $black;
  border-bottom: 2px solid $green;
  @include mq("md") {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
    font-family: $third-font-family;
  }
}

.blog-single__imgs {
  margin-top: 1.5rem;
  aspect-ratio: 700 / 468;
  max-width: 43.75rem;
  @include mq("md") {
    margin-top: 2.5rem;
  }
}

.blog-single__img {
  width: 100%;
  height: inherit;
}
.blog-single__content {
  p {
    font-size: 1rem;
    font-weight: $regular;
    font-family: $third-font-family;
    color: $black;
    line-height: 1.5;
    margin-top: 2.5em;
  }
  img {
    margin-top: 2.5rem;
    aspect-ratio: 700 / 468;
    max-width: 43.75rem;
  }
  ul {
    margin-top: 2.5rem;
  }
  li {
    position: relative;
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: $regular;
    font-family: $third-font-family;
    color: $black;
    line-height: 1.6;
  }
  li + li {
    margin-top: 0.25rem;
  }
  li::before {
    content: url("../images/common/blog-single_icon.svg");
    vertical-align: middle;
    position: absolute;
    top: 5%;
    left: -1.5rem;
  }
}

.blog-single__img-wrap {
  margin-top: 1.5rem;
  @include mq("md") {
    margin-top: 2.5rem;
  }
}

.blog-single__container {
  margin-top: 1.6rem;
  @include mq("md") {
    margin-top: 2.1rem;
  }
}

.blog-single__block {
  margin-left: 1.5rem;
  @include mq("md") {
    margin-left: 1.2rem;
  }
}

.blog-single__list {
  @include mq("md") {
    margin-left: 0.2rem;
  }
}

.blog-single__list:not(:first-child) {
  margin-top: 0.2rem;
}

.blog-single__nav {
  margin-top: 2.3rem;
  @include mq("md") {
    margin-top: 4.8rem;
  }
}

.blog-single__nav--single.page-nav__item-next {
  margin-left: 5rem;
}
.blog-single__sidebar {
  margin-top: 5rem;
  @include mq("md") {
    margin-top: 0;
    width: 30%;
    margin-left: 4.6rem;
  }
}
