@use "global" as *;
// パンくず
.breadcrumb {
}

.breadcrumb__item {
  font-size: 0.875rem;
  font-weight: $normal;
  font-family: $third-font-family;
  color: $black;
  line-height: 1.45;
  display: inline-block;
}
.breadcrumb__item:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: ">";
  color: $black;
}
.breadcrumb__link {
  color: $black;
}

.breadcrumb__box {
}
