@use "global" as *;
.campaign-card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  max-width: 20.8125rem;
  @include mq("md") {
  }
}

.campaign-card__contents {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1.29rem;
  padding-top: 0.99rem;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  @include mq("md") {
    padding-bottom: 1.8rem;
    padding-top: 1.5rem;
  }
}
.campaign-card__contents.campaign-card__contents--big {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1.29rem;
  padding-top: 0.99rem;
  @include mq("md") {
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.campaign-card__box {
  border-bottom: 1px solid $green;
}
.campaign-card__box.campaign-card__box--side {
  text-align: center;
}
.campaign-card__tag {
  border: 1px solid $green;
  display: inline-block;
  padding: 0.179rem 0.75rem;
  @include mq("md") {
    padding: 0.2rem 1rem;
  }
}
.campaign-card__category {
  color: $green;
  font-size: 0.75rem;
  font-weight: $regular;
  line-height: 1.88;
  font-family: $third-font-family;
}
.campaign-card__imgs {
  aspect-ratio: 520 / 347;
}
.campaign-card__img {
  width: 100%;
  height: inherit;
}
.campaign-card__description {
  font-size: 1rem;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: 0.5rem;
  @include mq("md") {
    margin-top: 0.2rem;
  }
}
.campaign-card__description--big {
  @include mq("md") {
    font-size: 1.5rem;
    font-weight: $normal;
    font-family: $third-font-family;
    color: $black;
  }
}
.campaign-card__container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq("md") {
    margin-top: 1.4rem;
  }
}

.campaign-card__price-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.campaign-card__text {
  font-size: 0.875rem;
  font-weight: $regular;
  line-height: 1.5rem;
  color: $black;
  @include mq("md") {
    font-size: 1.03rem;
    letter-spacing: 0.06em;
  }
}
.campaign-card__price-out {
  font-size: 1.25rem;
  font-weight: $bold;
  font-family: $four-font-family;
  text-decoration: line-through red;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  @include mq("md") {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

.campaign-card__price-in {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: $bold;
  font-family: $four-font-family;
  color: $green;
  @include mq("md") {
    font-size: 2.43rem;
    margin-left: 2.6rem;
  }
}
.campaign-card__price-in--side.campaign-card__price-in {
  font-size: 2rem;
  margin-left: 1rem;
}
.campaign-card__box--side {
  @include mq("md") {
    text-align: center;
  }
}
.campaign-card__contents--side {
  @include mq("md") {
    padding-top: 0;
  }
}
.campaign-card__container--side.campaign-card__container {
  margin-top: 0.5rem;
}
.campaign-card__contents--side.campaign-card__contents {
  padding-bottom: 0.8rem;
  padding-top: 0.7rem;
}
.campaign-card__img.campaign-card__img--side {
  aspect-ratio: 294 /182;
  @include mq("md") {
    aspect-ratio: 294 /188;
  }
}
.campaign-card__description.campaign-card__description--side {
  padding-top: 0.7rem;
  margin-top: 0;
  padding-bottom: 0.3rem;
}
