@use "global" as *;
// imgアニメーション
<<<<<<< HEAD
div.colorbox {
  position: relative;
}
div.colorbox div.color {
=======
.colorbox {
  position: relative;
  height: fit-content;
}
.colorbox .color {
>>>>>>> 4bd209b9a4a37408c09e53f1180f689afb6d570b
  position: absolute;
  top: 0;
  left: 0; /* Fix the position */
  width: 0%; /* Initial width */
  height: 100%;
  z-index: 2;
  background-color: $green; /* Use a specific color or define $green */
}
<<<<<<< HEAD
div.colorbox img {
=======
.colorbox img {
>>>>>>> 4bd209b9a4a37408c09e53f1180f689afb6d570b
  display: block;
  width: 100%;
  opacity: 0; /* Initial opacity */
}
