@use "global" as *;
// imgアニメーション
.colorbox {
  position: relative;
  height: fit-content;
}
.colorbox .color {
  position: absolute;
  top: 0;
  left: 0; /* Fix the position */
  width: 0%; /* Initial width */
  height: 100%;
  z-index: 2;
  background-color: $green; /* Use a specific color or define $green */
}
.colorbox img {
  display: block;
  width: 100%;
  opacity: 0; /* Initial opacity */
}
