@use "global" as *;
// common-mv
.common-mv {
  width: 100%;
}
.common-mv__img {
  position: relative;
}
.common-mv__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq("md") {
    top: 59%;
  }
}
.common-mv__title {
  font-size: 2.4rem;
  font-weight: $normal;
  font-family: $four-font-family;
  color: $white;
  line-height: 1.2;
  white-space: nowrap;
  @include mq("md") {
    font-size: 5rem;
  }
}
