@use "global" as *;

.faq-accordion {
  position: relative;
  width: 100%;
  display: grid;
  gap: 2.5rem;
  @include mq("md") {
    gap: 2rem;
  }
}
.faq-accordion__container {
  position: relative;
}
/* アニメーションを無効にするクラス */
/* 初期表示時にアニメーションを無効にするクラス */

.faq-accordion__title {
  position: relative;
  padding: 1rem 6.875rem 1rem 1rem;
  cursor: pointer;
  background-color: $green;
  width: 100%;
  display: flex;
  @include mq("md") {
    padding: 1.625rem 23rem 1.5625rem 2.5rem;
  }
}
.faq-accordion__title::before,
.faq-accordion__title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 1rem;
  width: 1.75rem;
  height: 0.0625rem;
  background-color: $white;
  transform: rotate(0deg);
  transition: 0.3s transform, 0.3s opacity;
  @include mq("md") {
    width: 2rem;
    right: 1.875rem;
  }
}

.faq-accordion__title.is-active::after {
  transform: rotate(90deg);
  opacity: 1;
}
.faq-accordion__title::after {
  opacity: 0;
}
.faq-accordion__title-text {
  font-size: 1rem;
  font-weight: $normal;
  font-family: $third-font-family;
  color: $white;
  @include mq("md") {
    font-size: 1.25rem;
  }
}

.faq-accordion__content {
  border: 1px solid $green;
  padding: 1.3rem 1rem 1rem;
  @include mq("md") {
    margin-top: 1rem;
    padding: 2.5rem;
  }
}

.faq-accordion__text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
