@use "global" as *;

.footer-menu__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0.9rem;
  @include mq("md") {
    justify-content: flex-start;
    margin-top: 0;
  }
}

.footer-menu__body {
  flex: 1;
  margin-left: 2.6rem;
  @include mq("md") {
    display: flex;
  }
}
.footer-menu__body--black {
  margin-left: 3.5rem;
}
.footer-menu__body--left {
  margin-left: 1.3rem;
}
.footer-menu__body:not(:first-child) {
  @include mq("md") {
    margin-left: 3.6rem;
  }
}
.footer-menu__body.footer-menu__body--black:not(:first-child) {
  margin-left: 3.5rem;
  @include mq("md") {
    margin-left: 9.5rem;
  }
}
.footer-menu__box-pc {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.footer-menu__box-pc.footer-menu__box-pc--black:not(:first-child) {
  @include mq("md") {
    margin-left: 10.5rem;
  }
}
.footer-menu__box-pc:not(:first-child) {
  @include mq("md") {
    margin-left: 8.875rem;
  }
}
.footer-menu__items {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    display: flex;
    flex-direction: column;
  }
}
.footer-menu__link {
  font-size: 1rem;
  font-weight: $regular;
  color: $white;
  display: inline-block;
  text-align: left;
  margin-top: 1.1rem;
  transition: 0.3s;
  white-space: nowrap;
}
.footer-menu__link--black {
  color: $black;
  white-space: nowrap;
  margin-top: 1.1rem;
}
.footer-menu__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.footer-menu__link-top {
  display: inline-block;
  font-size: 1rem;
  font-weight: $bold;
  font-family: $base-font-family;
  position: relative;
  text-align: left;
  margin-top: 2rem;
  color: $white;
  @include mq("md") {
    margin-top: 1.59rem;
  }
}
.footer-menu__link-top:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.footer-menu__link-top--black {
  color: $black;
  position: relative;
  font-weight: $bold;
  margin-top: 2rem;
}
.footer-menu__link-top.footer-menu__link-top--black::before {
  content: url("../images/common/sitemap_icon.svg");
  margin-right: 0.3rem;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: -1.4rem;
}

.footer-menu__link-top::before {
  content: url("../images/common/drawer-icon.svg");
  margin-right: 0.3rem;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: -1.4rem;
}
