@use "global" as *;

.form__box {
  border-bottom: 1px dashed $green;
  padding-bottom: 1.5rem;
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2.5rem;
  }
}
.form__box:not(:first-child) {
  margin-top: 1.5rem;
}
.form__box:last-of-type {
  padding-bottom: 1rem;
}
.form__box:not(:nth-child(4)) {
  @include mq("md") {
    justify-content: space-between;
  }
}
.form__box:nth-child(4) {
  @include mq("md") {
    padding-bottom: 2.1rem;
  }
}
.form__box:nth-child(5) {
  margin-top: 1.2rem;
  padding-bottom: 1.2rem;
  @include mq("md") {
    margin-top: 2.2rem;
    padding-bottom: 2.5rem;
  }
}
.form__item {
  text-align: left;
  font-size: 1rem;
  font-weight: $bold;
  font-family: $third-font-family;
  color: $black;
  @include mq("md") {
    max-width: 13rem;
    width: 100%;
  }
}
.form__item-label {
  border: 1px solid $red;
  background-color: $red;
  font-size: 0.75rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $white;
  letter-spacing: 0.05em;
  padding: 0.1rem 1rem;
  margin-left: 0.5rem;
}
.form__body {
  width: 100%;
  margin-top: 1rem;
  @include mq("md") {
    margin-top: 0;
    max-width: 30rem;
    width: 100%;
  }
}
.form__text {
  width: 100%;
  padding: 0.4rem 1rem 0.4rem;
  border: 1px solid $green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include mq("md") {
    margin-top: 0;
  }
}
.form__text::placeholder {
  color: $green2;
  opacity: 0.6;
}
.form__select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid $green;
  font-size: 0.75rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  @include mq("md") {
    padding: 0.325rem;
  }
}
input[type="checkbox"] {
  display: none;
}
.wpcf7-list-item-label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0.10625rem 1.5625rem;
  position: relative;
  width: auto;
}
.wpcf7-list-item-label::before {
  background: $white;
  border: 1px solid $green;
  content: "";
  display: block;
  height: 0.875rem;
  left: 0;
  margin-top: -0.5rem;
  position: absolute;
  top: 48%;
  width: 0.875rem;
}
.wpcf7-list-item-label::after {
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;
  content: "";
  display: block;
  height: 0.5625rem;
  left: 0.25rem;
  opacity: 0;
  position: absolute;
  top: 32%;
  transform: rotate(45deg);
  width: 0.312rem;
}
input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
  opacity: 1;
}
.wpcf7-list-item {
  margin-left: 0;
}
// 丸
.form__skill.form__skill--circle {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0.10625rem 1.5625rem;
  position: relative;
  width: auto;
  @include mq("md") {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 0.10625rem 1.5625rem;
    position: relative;
    width: auto;
  }
}
.form__skill.form__skill--circle::before {
  background: $white;
  border: 1px solid $green;
  content: "";
  display: block;
  height: 0.875rem;
  left: 0;
  margin-top: -0.5rem;
  position: absolute;
  top: 48%;
  width: 0.875rem;
  @include mq("md") {
    content: ""; //before, afterはこのプロパティが必須。
    display: block; //横幅・縦幅を指定するため、blockに。
    border-radius: 50%; //これで形を円形に。
    border: 1px solid $green;
    width: 1rem;
    height: 1rem;
  }
}
.form__skill.form__skill--circle::after {
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;
  content: "";
  display: block;
  height: 0.5625rem;
  left: 0.25rem;
  opacity: 0;
  position: absolute;
  top: 32%;
  transform: rotate(45deg);
  width: 0.312rem;
  @include mq("md") {
    border-right: 0;
    border-bottom: 0;
    display: block;
    border-radius: 50%;
    top: 30%;
    left: 0.2rem;
    width: 0.625rem;
    height: 0.625rem;
    background-color: $green;
  }
}

.form__skill-txt {
  display: inline-block;
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 1;
}
.form__checkbox-wrap {
  margin-top: 0.9rem;
  @include mq("md") {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
  }
}
.form__textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border: 1px solid $green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
}
.form__select-wrap {
  position: relative;
  margin-top: 0.8rem;
  @include mq("md") {
    max-width: 30rem;
    width: 100%;
    margin-top: 0;
  }
}
.form__select-wrap::after {
  content: "";
  position: absolute;
  right: 0.5rem;
  top: 0.75rem;
  width: 0.5625rem;
  height: 0.5625rem;

  clip-path: polygon(0 0, 50% 100%, 100% 0);

  pointer-events: none;
  background-color: $green;
}
.form__textarea-box {
  border-bottom: 1px dashed $green;
  margin-top: 1.5rem;
  padding-bottom: 1.1rem;
  @include mq("md") {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.1rem;
  }
}
.form__textarea-wrap {
  margin-top: 1rem;
  @include mq("md") {
    margin-top: 0;
    width: 68%;
  }
}
.form__Send-wrap {
  margin-top: 2.5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mq("md") {
    margin-top: 5rem;
  }
}

.form__checkbox-txt {
  position: relative;
  font-size: 0.875rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 1.375;
}
.form__checkbox-txt::before {
  background: $white;
  border: 1px solid $green;
  position: absolute;
  content: "";
  display: block;
  height: 1.375rem;
  left: -39%;
  margin-top: -0.5rem;
  top: 17%;
  width: 1.375rem;
  @include mq("md") {
    left: -10%;
    top: 42%;
  }
}
.form__checkbox-txt::after {
  border-right: 2px solid $red;
  border-bottom: 2px solid $red;
  position: absolute;
  content: "";
  display: block;
  height: 0.8rem;
  left: -31%;
  opacity: 0;
  top: 5%;
  transform: rotate(45deg);
  width: 0.5rem;
  @include mq("md") {
    top: 19%;
    left: -8%;
  }
}

.form__checkbox input:checked + .form__check .form__checkbox-txt::after {
  opacity: 1;
}

.form__btn-wrap {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  @include mq("md") {
    margin-top: 2.2rem;
  }
}

.form__text.form__text--red {
  width: 100%;
  padding: 0.4rem 1rem 0.4rem;
  border: 1px solid $red;
  background-color: $pink;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include mq("md") {
    margin-top: 0;
  }
}
.form__text.form__text--red::placeholder {
  color: $white;
  opacity: 0.6;
}

.wpcf7-not-valid {
  width: 100%;
  padding: 0.4rem 1rem 0.4rem;
  border: 1px solid $red;
  background-color: $pink;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.wpcf7-not-valid::placeholder {
  color: $white;
  opacity: 0.6;
}
