@use "global" as *;
.gallery {
  position: relative;
}
.gallery__title-wrap {
  text-align: center;
}
.gallery__visual {
  @include mq("md") {
    position: absolute;
    content: "";
    right: calc(50% - min(55%, 53.2rem));
    top: -4%;
    display: block;
    text-align: right;
    transform: translate(-50%);
  }
}
.gallery__visual-img {
  @include mq("md") {
    display: inline-block;
    max-width: 18.8125rem;
    z-index: 1;
  }
}
.gallery__imgs {
  margin-top: 2.3rem;
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: dense;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include mq("md") {
    margin-top: 5.1rem;
    gap: 0.5rem;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: auto;
  }
}

@for $i from 1 through 6 {
  .gallery__img:nth-of-type(#{$i}),
  .gallery__img:nth-of-type(#{($i + 6)}) {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    grid-column: 1;
    grid-row: auto;
    @include mq("md") {
      @if $i == 1 {
        aspect-ratio: 492/746;
        grid-column: span 6;
        grid-row: span 2;
      } @else if $i == 2 or $i == 3 {
        aspect-ratio: 580/ 360;
        grid-column: span 7;
        grid-row: span 1;
      } @else if $i == 4 or $i == 5 {
        aspect-ratio: 580/ 360;
        grid-column: span 7;
        grid-row: span 1;
        @if $i == 5 {
          order: 6;
        }
      } @else if $i == 6 {
        aspect-ratio: 492/746;
        grid-column: span 6;
        grid-row: span 2;
        order: 5;
      }
    }
  }
}

// .gallery__img {
//   // width: 100%;
//   // height: 100%;
//   object-fit: contain;
//   cursor: pointer;
// }
.gallery__modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.gallery__modal.show {
  display: block;
  opacity: 1;
}
.gallery__modal-content {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  width: 70%;
  height: 90vh;
}
.gallery__img-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.gallery__modal-content img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body.modal-open {
  overflow: hidden;
}
