@use "global" as *;
.gallery {
  position: relative;
}
.gallery__inner {
  position: relative;
}
.gallery__inner::before {
  @include mq("md") {
    background: url(../images/common/gallery-right.svg) no-repeat center / contain;
    position: absolute;
    content: "";
    right: calc(50% - min(54vw, 53.2rem));
    top: -5%;
    display: block;
    text-align: right;
    transform: translate(-50%);
    height: 8.625rem;
    width: 18.125rem;
  }
}
.gallery__title-wrap {
  text-align: center;
}

.gallery__visual-img {
  @include mq("md") {
    display: inline-block;
    max-width: 18.8125rem;
    z-index: 1;
  }
}

// }
.gallery__modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.gallery__modal.show {
  display: block;
  opacity: 1;
}
.gallery__modal-content {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  width: 70%;
  height: 90vh;
}

.gallery__modal-content img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body.modal-open {
  overflow: hidden;
}
