@use "global" as *;

.information {
  background-color: $green2;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
  @include mq("md") {
    padding-top: 5.89rem;
    padding-bottom: 4.7rem;
  }
}
.information__title-wrap {
  text-align: center;
}
.information__container {
  margin-top: 1.5rem;
  margin: auto;
  @include mq("md") {
    display: flex;
    margin-top: 2.2rem;
    gap: 2.3rem;
  }
}

.information__visual-wrap {
  @include mq("md") {
    width: 80%;
  }
}

.information__img {
  aspect-ratio: 345/227;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 540/356;
  }
}

.information__content {
  margin-top: 1.5rem;
  @include mq("md") {
    aspect-ratio: 492/234;
    margin-top: 3.77rem;
  }
}

.information__content-title {
  border-bottom: 1px solid $green;
  font-size: 1.25rem;
  font-family: $third-font-family;
  font-weight: $bold;
  line-height: 1.2;
  padding-bottom: 0.25rem;
  @include mq("md") {
    font-size: 1.5rem;
    line-height: 1;
    padding-bottom: 0.5rem;
  }
}

.information__content-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: $third-font-family;
  font-weight: $regular;
  line-height: 1.5;
}
.information__btn.btn {
  padding-right: 0.25rem;
}
.information__btn-wrap {
  text-align: center;
  margin-top: 2.5rem;
}
