@use "global" as *;

.page-contact__outer {
  position: relative;
}
.page-contact {
  padding-bottom: 8.8rem;
}
.page-contact__inner.inner {
  max-width: 46.875rem;
  position: relative;
}
.page-contact__inner::before {
  background: url(../images/common/page-campaign.pc.svg) no-repeat center / contain;
  position: absolute;
  content: "";
  top: 0%;
  left: calc(50% - min(48vw, 27.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  height: 3.4375rem;
  width: 7.5rem;
  @include mq("md") {
    left: calc(50% - min(43vw, 57.1rem));
    top: 1%;
    height: 8.625rem;
    width: 18.125rem;
  }
}

.page-contact__visual {
  width: 42%;
  @include mq("md") {
    width: 100%;
  }
}
.page-contact__outer.page-contact__outer--error {
  margin-left: 0;
  margin-top: 3rem;
  @include mq("md") {
    margin-top: 9rem;
  }
}
