@use "global" as *;
.page-price {
  position: relative;
}
.page-price__inner.inner {
  max-width: 46.75rem;
  width: 100%;
  position: relative;
}
.page-price__inner::before {
  background: url(../images/common/page-campaign.pc.svg) no-repeat center / contain;
  position: absolute;
  content: "";
  top: 0%;
  left: calc(50% - min(47vw, 29.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  height: 3.4375rem;
  width: 7.5rem;
  @include mq("md") {
    top: -1%;
    left: calc(50% - min(48vw, 38.1rem));
    height: 8.625rem;
    width: 18.125rem;
  }
}

.page-faq__visual {
  width: 42%;
  @include mq("md") {
    width: 100%;
  }
}
.page-price__wrap {
  display: grid;
  gap: 2.6rem;
  @include mq("md") {
    gap: 4.75rem;
  }
}
.page-price__outer {
  @include mq("md") {
    display: flex;
  }
}

.page-price__table {
  border: 1px solid $green;
  border-collapse: collapse;
  width: 100%;
}

.page-price__box {
  background-color: $green;
  padding: 0.51rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq("md") {
    flex-direction: column-reverse;
    padding: 2.5625rem 1.25rem;
    max-width: 12.5rem;
    width: 100%;
  }
}
.page-price__icons {
  display: inline-block;
  @include mq("md") {
    margin-top: 0.5rem;
  }
}
.page-price__icon {
  height: 1.5rem;
  width: 1.5rem;
  @include mq("md") {
    height: 4rem;
    width: 4rem;
  }
}
.page-price__table-title {
  display: inline-block;
  font-size: 1rem;
  font-weight: $bold;
  font-family: $third-font-family;
  color: $white;
  line-height: 1.5;
  margin-left: 0.5rem;
  white-space: nowrap;
  @include mq("md") {
  }
}
// .page-price__table-title span {
//   position: relative;
// }
// .page-price__table-title::before {
//   content: url(../images/common/price-kujira.svg);
//   position: absolute;
//   top: 50%;
//   left: -13%;
//   width: 1.5rem;
//   height: 1.5rem;
//   transform: translateY(-50%);
//   background-size: contain;
// }
.page-price__course {
  aspect-ratio: 240 / 64;
  height: 3.97rem;
}
.page-price__course:not(:first-child) {
  aspect-ratio: 240 / 61;
  height: 3.6rem;
}
.page-price__name {
  border: 1px solid $green;
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 1.5;
  padding: 0rem 1.5rem;
  width: 100%;
  @include mq("md") {
    text-align: left;
    max-width: 68%;
    padding-right: 2.4rem;
  }
}

.page-price__figure {
  border: 1px solid $green;
  padding: 0rem 1rem;
  text-indent: 0.8em;
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 1.5;
  white-space: nowrap;
  text-align: right;
  @include mq("md") {
    width: 40%;
  }
}
