@use "global" as *;
.page-navigation {
}
.page-navigation__items {
  display: flex;
  justify-content: center;
}

.page-navigation__item {
  border: 1px solid $green;
  padding: 0.6rem 0.9rem;
  color: $green;
}

.page-link {
}
