@use "global" as *;

.page-contact__outer {
  position: relative;

  margin-top: 2.9rem;
  @include mq("md") {
    margin-top: 8.3rem;
    margin-left: 3rem;
  }
}

.page-contact__inner.inner {
  max-width: 49.875rem;
}

.page-contact__visual-wrap {
  position: absolute;
  content: "";
  top: 0%;
  left: calc(50% - min(53%, 27.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  @include mq("md") {
    left: calc(50% - min(76%, 35.1rem));
    top: 0%;
  }
}
.page-contact__visual {
  width: 42%;
  @include mq("md") {
    width: 100%;
  }
}
.page-contact__outer.page-contact__outer--error {
  margin-left: 0;
  margin-top: 3rem;
  @include mq("md") {
    margin-top: 9rem;
  }
}
