@use "global" as *;

.page-campaign {
  position: relative;
  margin-top: 0.62rem;
  @include mq("md") {
    margin-top: 0.5rem;
  }
}

.page-campaign__inner {
}
.page-campaign__img-wrap {
  position: absolute;
  content: "";
  top: 4.2%;
  left: calc(50% - min(48%, 29.1rem));
  text-align: left;
  transform: translateY(-50%);
  @include mq("md") {
  }
}
.page-campaign__img {
  width: 44%;
  z-index: -1;
  @include mq("md") {
    width: 100%;
  }
}
.page-campaign__category-wrap {
  margin-top: 2.8rem;
}

.page-campaign__wrap {
  margin-top: 2.4rem;
}

.page-campaign__cards {
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2.3rem;
  @include mq("md") {
    justify-items: center;
  }
}

.page-campaign__nav-wrap {
  margin-top: 5rem;
}
