@use "global" as *;

.privacy__inner {
  position: relative;
}
.privacy__inner::before {
  background: url(../images/common/page-campaign.pc.svg) no-repeat center / contain;
  position: absolute;
  content: "";
  top: 0.3%;
  left: calc(50% - min(47vw, 27.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  height: 3.4375rem;
  width: 7.5rem;
  @include mq("md") {
    left: calc(50% - min(46vw, 38.1rem));
    top: 0%;
    height: 8.625rem;
    width: 18.125rem;
  }
}

.privacy__inner {
  @include mq("md") {
    max-width: 53.125rem;
    width: 100%;
  }
}

.privacy__title {
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: $third-font-family;
  color: $black;
  @include mq("md") {
    font-size: 2rem;
  }
}

.privacy__primary-wrap {
  margin-top: 2.49rem;
}
.privacy__primary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.privacy__primary-detail {
  margin-top: 2rem;
}
.privacy__primary-box {
  margin-left: 1.4rem;
}
.privacy__primary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.privacy__secondary-wrap {
  margin-top: 2em;
}

.privacy__secondary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}
.privacy__secondary-box {
  margin-left: 1.4rem;
}

.privacy__secondary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}
.privacy__tertiary-wrap {
  margin-top: 1.9rem;
}

.privacy__tertiary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.privacy__tertiary-content {
  margin-left: 1.4rem;
}

.privacy__tertiary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}
.privacy__quaternary-wrap {
  margin-top: 2.1rem;
}

.privacy__quaternary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.privacy__quaternary-content {
  margin-left: 1.4rem;
}

.privacy__quaternary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.privacy__under-wrap {
  margin-top: 2rem;
}

.privacy__under-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}
