@use "global" as *;
.price {
  padding: 5.2rem 0;
  background-color: $green2;
  @include mq("md") {
    position: relative;
    padding: 6.5rem 0;
  }
}
.price__inner.inner {
  @include mq("md") {
    position: relative;
  }
}
.price__title-wrap {
  text-align: center;
}
.price__container {
  margin-top: 1.7rem;
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;
    gap: 8%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2.1rem;
  }
}

.price__img-wrap {
  @include mq("md") {
    flex: 1;
  }
}
.price__img {
  @include mq("md") {
    aspect-ratio: 492/746;
    width: 100%;
  }
}
.price__content {
  margin-top: 2.5rem;
  @include mq("md") {
    flex: 1;
    margin-top: 0;
    display: grid;
    gap: 2.8rem;
  }
}
.price__box {
  margin-top: 2.6rem;
  @include mq("md") {
    margin-top: 0;
  }
}
.price__lead {
  font-size: 1rem;
  font-weight: $bold;
  font-family: $third-font-family;
  line-height: 1.5;
  color: $black;
  border-bottom: 1px solid $green;
  padding-bottom: 0.25rem;
}

.price__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  @include mq("md") {
    margin-top: 0.39rem;
  }
}

.price__name {
  font-size: 0.875rem;
  font-weight: $regular;
  font-family: $third-font-family;
  line-height: 1.5;
  color: $black;
  @include mq("md") {
    font-size: 1rem;
  }
}

.price__cost {
  font-size: 0.875rem;
  font-weight: $regular;
  font-family: $third-font-family;
  line-height: 1.5;
  color: $black;
  @include mq("md") {
    letter-spacing: 0.075em;
    padding-left: 1rem;
  }
}
.price__visual-left {
  @include mq("md") {
    bottom: 4.1%;
    content: "";
    display: block;
    position: absolute;
    text-align: left;
    left: calc(50% - min(28%, 29.1rem));
    transform: translate(-50%);
  }
}
.price__visual-img {
  @include mq("md") {
    display: inline-block;
    max-width: 27.3125rem;
    width: 100%;
  }
}
.price__btn-wrap {
  text-align: center;
  margin-top: 1rem;
  @include mq("md") {
    margin-top: 4.8rem;
  }
}
