@use "global" as *;

.sidebar__inner {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}
.sidebar__review {
  margin-top: 5rem;
  @include mq("md") {
    margin-top: 5rem;
  }
}
.sidebar__campaign-cards.campaign-cards {
  margin-top: 1.5rem;
  display: grid;
  gap: 2.5rem;
  justify-items: center;

  @include mq("md") {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
  }
}
.sidebar__campaign-cards {
  margin-top: 1.5rem;
  display: grid;
  gap: 2.5rem;
  justify-items: center;

  @include mq("md") {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
  }
}
.sidebar__campaign-contact {
  margin-top: 2.6rem;
  text-align: center;
  @include mq("md") {
    margin-top: 2.5rem;
  }
}
.sidebar__archive-accordion {
  margin-top: 1.5rem;
}
