@use "global" as *;
.sitemap {
  position: relative;
}

.sitemap__visual-wrap {
  position: absolute;
  content: "";
  top: 14.5%;
  left: calc(50% - min(47%, 27.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  @include mq("md") {
    left: calc(50% - min(50%, 39.1rem));
    top: 57.4%;
  }
}
.sitemap__visual {
  width: 42%;
  @include mq("md") {
    width: 100%;
  }
}

.sitemap__outer {
  @include mq("md") {
    margin-top: 7.6rem;
  }
}
