@use "global" as *;

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .swiper-slide__img,
.swiper-slide-duplicate-active .swiper-slide__img,
.swiper-slide-prev .swiper-slide__img {
  animation: zoomUp 10s linear 0s 1 normal both;
}

// // //imgタグだと下に隙間ができるのでblockに。
.swiper-slide__img {
  height: 100%;
  width: inherit;
  object-fit: cover; /* 画像を要素にぴったりとフィットさせる */
}
