@use "global" as *;
.terms {
  position: relative;
}
.terms__visual-wrap {
  position: absolute;
  content: "";
  top: 4%;
  left: calc(50% - min(48%, 27.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  @include mq("md") {
    left: calc(50% - min(50%, 39.1rem));
    top: 14.6%;
  }
}
.terms__visual {
  width: 42%;
  @include mq("md") {
    width: 100%;
  }
}
.terms__inner {
  @include mq("md") {
    max-width: 53.125rem;
    width: 100%;
  }
}
.terms__outer {
  margin-top: 3rem;
  @include mq("md") {
    margin-top: 9rem;
  }
}

.terms__title {
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: $third-font-family;
  color: $black;
  @include mq("md") {
    font-size: 2rem;
  }
}

.terms__primary-wrap {
  margin-top: 2.49rem;
}

.terms__primary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.terms__primary-box {
  margin-top: 2rem;
}

.terms__primary-detail {
  margin-left: 1.4rem;
}

.terms__primary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.terms__secondary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.terms__secondary-box {
  margin-top: 1.99rem;
}

.terms__secondary-detail {
  margin-left: 1.4rem;
}

.terms__secondary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.terms__under-wrap {
  margin-top: 2rem;
}

.terms__under-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}
