@use "global" as *;
.terms__inner {
  position: relative;
  @include mq("md") {
    max-width: 53.125rem;
    width: 100%;
  }
}
.terms__inner::before {
  background: url(../images/common/page-campaign.pc.svg) no-repeat center / contain;
  position: absolute;
  content: "";
  top: 0%;
  left: calc(50% - min(47vw, 27.1rem));
  text-align: left;
  transform: translateY(-50%);
  z-index: -1;
  height: 3.4375rem;
  width: 7.5rem;
  @include mq("md") {
    left: calc(50% - min(48vw, 38.1rem));
    top: 0%;
    height: 8.625rem;
    width: 18.125rem;
  }
}

.terms__title {
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: $third-font-family;
  color: $black;
  @include mq("md") {
    font-size: 2rem;
  }
}

.terms__primary-wrap {
  margin-top: 2.49rem;
}

.terms__primary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.terms__primary-box {
  margin-top: 2rem;
}

.terms__primary-detail {
  margin-left: 1.4rem;
}

.terms__primary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.terms__secondary-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}

.terms__secondary-box {
  margin-top: 1.99rem;
}

.terms__secondary-detail {
  margin-left: 1.4rem;
}

.terms__secondary-list {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.terms__under-wrap {
  margin-top: 2rem;
}

.terms__under-text {
  font-size: 1rem;
  font-weight: $regular;
  font-family: $third-font-family;
  color: $black;
  line-height: 2;
}
