@use "global" as *;

.voice__inner {
  position: relative;
}
.voice__inner::before {
  @include mq("md") {
    background: url(../images/common/voice-pc.left.svg) no-repeat center / contain;
    content: "";
    display: block;
    left: calc(50% - min(33vw, 29.1rem));
    position: absolute;
    top: -19%;
    text-align: left;
    transform: translate(-50%);
    width: 18.8125rem;
    height: 8.625rem;
  }
}
.voice__inner::after {
  @include mq("md") {
    background: url(../images/common/voice-pc.right.svg) no-repeat center / contain;
    bottom: -12%;
    content: "";
    display: block;
    position: absolute;
    right: calc(50% - min(50vw, 36.2rem));
    text-align: right;
    transform: translate(-50%);
    width: 4.4375rem;
    height: 10.125rem;
  }
}
.voice__title-wrap {
  text-align: center;
}
.voice__cards {
  margin-top: 2.5rem;
  @include mq("md") {
    margin-top: 1.19rem;
  }
}

.voice__visual-left {
}
.voice__visual-right {
}
.voice__visual-item {
  @include mq("md") {
    display: inline-block;
    max-width: 4.4375rem;
    width: 100%;
  }
}
.voice__btn-wrap {
  margin-top: 2.5rem;
  text-align: center;
  @include mq("md") {
    margin-top: 5rem;
  }
}
