@use "global" as *;
.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.wp-pagenavi a,
.wp-pagenavi span {
  width: 2.375rem;
  height: 2.375rem;
  border: 1px solid $green;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  color: $green;
  font-size: 1rem;
  font-weight: $bold;
  font-family: $four-font-family;
  transition: 0.3s ease;
}

.wp-pagenavi a:hover,
.wp-pagenavi span:hover {
  background-color: $green;
  color: $white;
}
.wp-pagenavi span.current {
  background-color: $green;
  color: $white;
}
.previouspostslink {
  position: relative;
  margin-right: 2.5rem;
}

.previouspostslink::before {
  border-right: 1px solid $green;
  border-top: 1px solid $green;
  content: "";
  height: 0.7rem;
  position: absolute;
  right: 1.1rem;
  top: 0.8rem;
  transform: rotate(-136deg) translate(-50%, 50%);
  transition: border-color 0.3s ease;
  width: 0.7rem;
}
.nextpostslink {
  position: relative;
  margin-left: 2.5rem;
}

.nextpostslink::before {
  border-right: 1.5px solid $green;
  border-top: 1.5px solid $green;
  content: "";
  height: 0.7rem;
  position: absolute;
  top: 1.09rem;
  left: 0.3rem;
  transform: rotate(45deg) translateY(-50%);
  transition: border-color 0.3s ease;
  width: 0.7rem;
}
.nextpostslink:hover::before,
.previouspostslink:hover::before {
  border-right: 1px solid $white;
  border-top: 1px solid $white;
}
